langchain
langchain-google-genai
langchain-community
langchain-text-splitters
langchain-chroma
google-generativeai
chromadb
pypdf
streamlit
python-dotenv
matplotlib
numpy
pandas
tiktoken
pillow
pytesseract
pydub
SpeechRecognition
whisper
